@font-face {
    font-family: Inter;
    src: "font/Inter-VariableFont_slnt,wght.ttf";
}
* {
    font-family: "Inter", sans-serif;
    background-color: #e4884c;
    color: white; 
}

p {
    font-size: x-large;
}

ul {
    display: inline-block;
    text-align: left;
    font-size: x-large;
}
ol {
    font-size: x-large;
}
div {
    text-align: center;
}

#header-one {
    background-color: white;
    color: #e4884c;
    font-size: 45px;
}

#lower-background{
    background-color: white;
    color: #e4884c;
}

button {
    font-size: xx-large;
    background-color: white;
    font-weight: bold;
}

button a{
    background: white;
    color: #e4884c;
}

.contents {
    background-color: white;
}

.text {
    color:#e4884c;
}

.contents li dt,
.contents li dd,
.contents li,
dt strong {
    background-color: white;
    color: #e4884c;

}